<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/bass1.css" rel="stylesheet" type="text/css"/>
<script src="js/myfocus-2.0.1.min.js" type="text/javascript"></script>
<link href="js/mf-pattern/mF_YSlider.css" rel="stylesheet" type="text/css"> </link>
<script src="Sjs/mf-pattern/mF_YSlider.js" type="text/javascript"></script>
<script type="text/javascript">
  myFocus.set({id:'picBox'})
  myFocus.set({id:'picBox1'})
  myFocus.set({id:'picBox2'})
</script>
</head>

<body>
<div class="main">
 <div class="carousel" id="picBox">
             <div class="loading">
                    <img src="http://img.mukewang.com/53edad8c000175cb00300029.jpg" alt="图片加载中"/>
                    </div>
                    <!--loading结束-->
                
                   <div class="pic">
                        <ul>
                           <li>
                           <a href="?p=back&c=TShow&a=T1"><img src="image/1.jpg"/></a>
                           </li>
                           <li>
                           <a href="?p=back&c=TShow&a=T2"><img src="image/6.jpg"/></a>
                           </li>
                           <li>
                           <a href="?p=back&c=TShow&a=T3"><img src="image/3.jpg"/></a>
                           </li>
                        </ul>
                    </div>
                    <!--pic结束*/-->
                    
            </div>
           <!-- carousel结束-->
           
           <div class="carousel1" id="picBox1">
                    <div class="loading">
                    <img src="http://img.mukewang.com/53edad8c000175cb00300029.jpg" alt="图片加载中"/>
                    </div>
                    <!--loading结束-->
                
                   <div class="pic">
                        <ul>
                           <li>
                           <a href="#"><img src="image/37.jpg"/></a>
                           </li>
                           <li>
                           <a href="#"><img src="image/29.jpg"/></a>
                           </li>
                           <li>
                           <a href="#"><img src="image/30.jpg"/></a>
                           </li>
                        </ul>
                    </div>
                    <!--pic结束*/-->
                    
            </div>
           <!-- carousel1结束-->
           
           <div class="carousel2" id="picBox2">
             <div class="loading">
                    <img src="http://img.mukewang.com/53edad8c000175cb00300029.jpg" alt="图片加载中"/>
                    </div>
                   <!-- loading结束-->
                
                   <div class="pic">
                        <ul>
                           <li>
                           <a href="#"><img src="image/34.jpg"/></a>
                           </li>
                           <li>
                           <a href="#"><img src="image/35.jpg"/></a>
                           </li>
                           <li>
                           <a href="#"><img src="image/36.jpg"/></a>
                           </li>
                        </ul>
                    </div>
                   <!-- pic结束*/-->
                    
            </div>
            <!--carousel2结束-->
           
    </div>
    <!--main结束-->
</body>
</html>
